{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages = sort $reusablePages ".Params.weight" }}

{{ range first 1 $reusablePages }}
<div
  id="home"
  class="strip bg-cover bg-position-top bg-overlay"
  style="background-image: url('{{ .Params.background | relURL }}');"
>
  <div class="container pt-17 pb-17">
    <div class="row">

      {{ if eq .Site.Language.Lang "fa" }}
      <div class="col-12 col-md-6">
      {{ else }}
      <div class="col-12 col-md-6 offset-md-6">
      {{ end }}

        <h2 class="text-primary text-capitalize">
          {{ .Title }}
        </h2>

        <p>{{ .Content }}</p>

        <a
          class="button"
          href="{{ .Params.buttonLink | relURL }}"
        >
          {{ .Params.button }}
        </a>

      </div>
    </div>
  </div>
</div>
{{ end }}