{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages = sort $reusablePages ".Params.weight" }}

{{ range first 1 (after 1 $reusablePages) }}
<div
  id="about-cta"
  class="strip bg-primary bg-cover bg-position-top bg-overlay"
  style='background-image: url("{{ .Params.background | relURL }}");'
>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">

        <h2>{{ .Title }}</h2>

        {{ .Content }}

        {{ if .Params.button }}
        <a
          class="button button-white"
          href="{{ .Params.buttonLink | relURL }}"
        >
          {{ .Params.button }}
        </a>
        {{ end }}

      </div>
    </div>
  </div>
</div>
{{ end }}